@use "@/styles/shared" as *;

.btn-show-hide {
  display: none;
}

.btn-show {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(var(--color-grey));
  cursor: pointer;

  &__icon {
    transition: transform 0.3s ease;

    &--expand {
      transform: rotate(180deg);
    }
  }
}