@use "@/styles/shared" as *;

.choose-city {
  $block: &;

  &__inner {
    padding: 1rem 1.25rem;
    overflow: hidden;
  }

  &__header {
    @extend %flex-space-between;

    gap: 0.5rem;
  }

  &__back, &__cross {
    cursor: pointer;

    &-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &__title {
    font-size: 1.375rem;
    font-weight: 600;
    margin-right: auto;
  }

  &__cross {
    color: rgb(var(--color-grey));
  }

  &__search {
    margin-top: 1.5rem;
  }

  &__list {
    max-height: 25vh;
    margin-top: 0.75rem;
    margin-right: -0.5rem;
    padding-right: 0.5rem;
    overflow-y: auto;

    &-item {
      padding: 0.75rem 0;
    }
  }
}
