@use "@/styles/shared" as *;

.cart {
  $block: &;

  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(var(--color-black-light));

  @include media($md) {
    padding-bottom: 2rem;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }

  &__top {
    &-inner {

    }
  
    &-title {
      font-size: 1.5rem;
      line-height: 1.75rem;
      font-weight: 700;
      color: rgb(var(--color-grey));
    }
  
    &-content {
      @extend %flex-column;

      gap: 1.25rem;
      margin: 1.5rem 0;
  
      @include media($lg) {
        display: flex;
        justify-content: space-between;
        flex-flow: row;
      }
    }
  
    &-wrapper {
      @extend %flex-column;
    }
  
    &-content-feature {
      @extend %flex-column;

      gap: 0.75rem;
      margin-top: 0.75rem;
  
      @include media($lg) {
        gap: 1.25rem;
      }
    }
  
    &-content-catch-phrase {
      font-size: 1.5rem;
      line-height: 1.75rem;
      font-weight: 700;
    }
  
    &-content-feature-inner {
      gap: 0.75rem;
      flex-flow: column;
      font-size: 1rem;
      line-height: 1.5rem;
  
      @include media($md) {
        display: flex;
        flex-flow: row;
        gap: 1.25rem;
      }
    }
  
    &-content-feature-purchases {
      @extend %flex-column;

      gap: 0.5rem;
  
      & span {
        font-weight: 600;
        letter-spacing: 0.02rem;
  
        &:first-child {
          font-weight: 400;
          letter-spacing: 0;
        }
      }
    }
  
    &-content-event {
      font-weight: 600;
      letter-spacing: 0.02rem;

      &--is-happened {
        color: rgb(var(--color-green))
      }

      &--is-not-happened {
        color: rgb(var(--color-red))
      }
    }
  
    &-seller-inner {
      @extend %flex-align-center;

      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 34rem;
      margin-top: 0.75rem;
      padding: 0.75rem 1rem;
      background-color: rgb(var(--color-primary-soft));
      border-radius: var(--radius-small);
  
      @include media($md) {
        gap: 1rem;
        padding: 1.25rem;
      }
  
      @include media($full) {
        margin-bottom: -0.25rem;
      }
    }
  
    &-seller-img {
      & img {
        max-width: unset;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
      }
    }
  
    &-seller-inner-content {
      @extend %flex-align-center;

      gap: 0.5rem;
      max-width: 19rem;
      padding: 0;
    }
  
    &-seller-btn {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  &__control {
    &-top {
      @extend %flex-space-between;

      margin-bottom: 1.25rem;
    }
  
    &-bottom {
      @extend %flex-column;
      
      gap: 1.25rem;
      margin-top: 1.25rem;
    }
  
    &-bottom-control {
      @extend %flex-column;
  
      align-items: center;
      flex-direction: column-reverse;
      gap: 1rem;
      text-align: center;
  
      @include media($md) {
        justify-content: flex-end;
        flex-flow: row
      }
    }
  
    &-bottom-control-up {
      @extend %flex-start;

      gap: 0.75rem;
      flex: 1;

      & > svg {
        color: rgb(var(--color-primary));
      }
    }
  
    &-bottom-control-order {
      @extend %flex-column;

      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;
  
      @include media($md) {
        flex-flow: row;
        gap: 1.25rem;
        justify-self: flex-end;
      }
    }
  
    &-bottom-results {
      @extend %flex-column;

      gap: 0.25rem;
  
      @include media($md) {
        display: flex;
        flex-flow: row;
        gap: 3.875rem;
      }
    }
  
    &-bottom-results-total {
      flex: 0;
    }
  
    &-bottom-results-group {
      @extend %flex-space-between;

      flex: 1;
      font-weight: 600;
      letter-spacing: 0.02rem;
    }
  
    &-bottom-results-group-sum-old {
      display: none;
      margin-right: 0.625rem;
      text-decoration: line-through;
  
      @include media($md) {
        display: inline;
        color: rgb(var(--color-grey));
      }
    }
  
    &-bottom-results-group-sum-new {
      @include media($md) {
        color: rgb(var(--color-primary));
      }
    }
  }

  &__items {
    @extend %flex-column;

    gap: 0.5rem;
  }
}
