@use "@/styles/shared" as *;

.useful-links {
  $block: &;

  display: none;
  position: fixed;
  background-color: rgb(var(--color-white));
  left: 0;
  right: 0;
  top: 0;
  bottom: 4rem;
  padding: 1rem 1.25rem;
  z-index: var(--z-popup);

  &.active {
    display: block;
  }

  &__title {
    @extend %flex-space-between;

    font-size: 1.375rem;
    font-weight: 600;

    & svg {
      color: rgb(var(--color-grey));
      cursor: pointer;
    }
  }

  &__list {
    margin: 1rem -1.25rem 1rem;

    &-item {
      padding: 0.75rem 1.25rem;
      border-bottom: 1px solid rgb(var(--color-black-light));

      & > a {
        @extend %flex-space-between;

        & svg {
          color: rgb(var(--color-grey));
          transform: rotate(-90deg);
        }
      }
    }

    @include media($md) {
      margin: 1rem -2.5rem 1rem;

      &-item {
        padding: 0.75rem 2.5rem;
      }
    } 
  }

  @include media($md) {
    padding: 1rem 2.5rem;
  }

  @include media($lg) {
    display: none;
    
    &.active {
      display: none;
    }
  }
}
