@use "@/styles/shared" as *;

.cart-item {
  $block: &;

  background-color: rgb(var(--color-primary-soft));
  border: 2px solid transparent;
  border-radius: var(--radius-small);
  transition: border-color 0.2s linear;

  &:hover {
    border-color: rgb(var(--color-black-light));
  }

  &--disabled {
    background-color: rgb(var(--color-grey-soft));

    &:hover {
      border-color: rgb(var(--color-red));
    }

    #{$block}__control-amount {
      & svg {
        color: rgb(var(--color-grey-dark));
      }

      &-input {
        color: rgb(var(--color-grey-dark));
        background-color: rgb(var(--color-grey-soft));
      }

      & > button {
        cursor: default;
      }
    }

    #{$block}__discount-upper {
      &-title {
        color: rgb(var(--color-grey-dark));
        border: unset
      }

      &-size {
        & .badge {
          background-color: rgb(var(--color-grey-dark));
          border-color: rgb(var(--color-grey-dark));
        }
      }
    }

    #{$block}__discount-store {
      color: rgb(var(--color-grey-dark));
    }

    #{$block}__navigate-choose {
      @extend %flex-align-center;

      color: rgb(var(--color-red));
    }
  }

  &__wrapper {
    display: grid;
    gap: 0.75rem;
    position: relative;
    padding: 0.75rem;

    @include media($md) {
      gap: 0.5rem;
      padding: 1.25rem 1.5rem;
    }
  }

  &__delete {

    &--store {
      @media (max-width:$md) {
        grid-row: 5 / 5;
        grid-column: 1 / 1;
      }
    }

    text-align: start;
    grid-row: 4 / 4;
    grid-column: 1 / 1;

    @include media($md) {
      text-align: end;
      grid-row: 1 / 1;
      grid-column: 9 / 9;
    }

    @include media($lg) {
      grid-row: 1 / 2;
      grid-column: 9 / 9;
    }
  }

  &__product-card {
    @extend %flex-start;

    gap: 0.75rem;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    max-width: 26rem;

    @include media($md) {
      grid-row: 1 / 4;
      grid-column: 1 / 6;
    }

    @include media($lg) {
      gap: 1.25rem;
      grid-row: 1 / 6;
      grid-column: 1 / 5;
    }
  }

  &__product-card-pic {
    & img {
      max-width: 4.375rem;
      border-radius: var(--radius-medium);
      min-width: 4.375rem
    }
  }

  &__product-card-description {
    @extend %flex-column;

    gap: 0.75rem;
    max-width: 17.68rem;
  }

  &__product-card-description-title {
    color: rgb(var(--color-grey));
  }

  &--disabled-size {
    color: rgb(var(--color-red));
  }

  &__control {
    @extend %flex-start;

    flex-direction: row-reverse;
    gap: 0.75rem;
    justify-content: left;
    align-items: start;
    position: relative;
    grid-row: 2 / 2;
    grid-column: 1 / 4;

    @include media($md) {
      grid-row: 4 / 5;
      grid-column: 1 / 5;
    }

    @include media($lg) {
      flex-flow: column;
      justify-content: center;
      grid-row: 1 / 6;
      grid-column: 5 / 5;
    }
  }

  &__discount-details {
    @extend %flex-start;

    grid-row: 3 / 3;
    grid-column: 1 / 4;

    @include media($md) {
      grid-row: 4 / 4;
      grid-column: 5 / 10;
      display: flex;
    }

    @include media($lg) {
      grid-row: 2 / 6;
      grid-column: 6 / 8;
    }
  }

  &__control-amount {
    @extend %flex-start;

    gap: 0.25rem;

    & button {
      cursor: pointer;
    }

    & svg {
      color: rgb(var(--color-black));
    }
  }

  &__control-size {
    align-self: center;

    @include media($lg) {
      align-self: flex-start;
    }
  }

  &__control-amount-input {
    max-width: 6rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(var(--color-white));
    border: 2px solid rgb(var(--color-black-light));
    border-radius: var(--radius-medium);
  }

  &__inner {
    @extend %flex-column;

    gap: 0.375rem;
    position: relative;
    margin-top: 0.875rem;

    @include media($md) {
      flex-flow: column;
      flex: 1;
      align-items: end;
      align-self: center;
      margin-top: 2rem;
    }

    @include media($lg) {
      flex-flow: row;
      justify-content: space-between;
      margin-top: unset;
    }
  }

  &__inner-store {
    padding-top: 4rem;

    @include media($md) {
      padding-top: unset;
    }
  }

  &__navigate {
    @extend %flex-column;

    flex-direction: column-reverse;
    gap: 1rem;

    @include media($md) {
      flex-direction: column-reverse;
      gap: 1.125rem;
      align-self: end;
      margin-top: unset;
    }

    @include media($lg) {
      flex-direction: column;
      gap: 0.875rem;
      margin-top: 2rem;
    }

  }

  &__discount {
    grid-row: 3 / 3;
    grid-column: 1 / 1;

    @include media($md) {
      grid-row: 2 / 3;
      grid-column: 9 / 9;
      margin-top: 0.5rem;
    }

    @include media($lg) {
      align-self: flex-start;
      grid-row: 2 / 4;
      grid-column: 6 / 8;
      margin-top: unset;
    }

    &--store {
      grid-row: 4 / 4;
      grid-column: 1 / 1;

      @include media($md) {
        grid-row: 2 / 3;
        grid-column: 9 / 9;
      }

      @include media($lg) {
        grid-row: 1 / 3;
        grid-column: 6 / 8;
      }
    }
  }

  &__navigate-choose {
    @extend %flex-end;

    gap: 0.625rem;
    grid-row: 4 / 4;
    grid-column: 1 / 4;
    min-width: 12rem;
    margin-left: auto;

    &--store {
      @media (max-width:$md) {
        grid-row: 5 / 5;
        grid-column: 1 / 4;
      }
    }

    @include media($md) {
      grid-row: 4 / 5;
      grid-column: 9 / 9;
    }

    @include media($lg) {
      grid-row: 2 / 3;
      grid-column: 9 / 9;
    }

    & span {
      @include media($md) {
        max-width: 6.125rem;
        text-align: left;
      }

      @include media($lg) {
        max-width: unset;
        text-align: unset;
      }
    }
  }

  &__discount-upper {
    @extend %flex-start;

    gap: 0.315rem;

    @include media($md) {
      justify-content: flex-end;
    }

    @include media($lg) {
      justify-content: flex-start;
    }
  }

  &__discount-upper-title {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(var(--color-primary));
  }

  &__discount-upper-title-store--md {
    display: none;

    @include media($md) {
      display: inline;
    }
  }

  &__discount-upper-title-store--mobile {
    display: inline;

    @include media($md) {
      display: none;
    }
  }

  &__discount-upper-title-sp--mobile {
    display: inline;

    @include media($md) {
      display: none;
    }
  }

  &__discount-upper-title-sp--md {
    display: none;

    @include media($md) {
      display: inline;
    }

    @include media($lg) {
      display: none;
    }
  }

  &__discount-upper-title-sp--lg {
    display: none;

    @include media($lg) {
      display: inline;
    }
  }

  &__navigate-price {
    @extend %flex-center;

    grid-row: 3 / 3;
    grid-column: 1 / 4;

    margin-left: auto;
    font-weight: 600;
    letter-spacing: 0.02rem;

    &--store {
      @media (max-width:$md) {
        grid-row: 4 / 4;
        grid-column: 2 / 4;
      }
    }

    @include media($md) {
      grid-row: 3 / 3;
      grid-column: 9 / 9;
    }

    @include media($lg) {
      grid-row: 4 / 6;
      grid-column: 9 / 9;
    }
  }

  &__navigate-price-old-sum {
    text-decoration: line-through;
    color: rgb(var(--color-grey));
    margin-right: 0.625rem;
  }

  &__navigate-price-new-sum {
    color: rgb(var(--color-primary));
  }

  &__discount-store {
    @extend %flex-column;

    font-size: 0.875rem;
  }

  &__tooltip {
    display: block;
  }
}