@use "@/styles/shared" as *;

.select {
  $block: &;

  position: relative;
  width: 100%;
  background-color: rgb(var(--color-white));
  border: 0.125rem solid rgb(var(--color-primary));
  border-radius: var(--radius-medium);
  padding: 0.5rem;

  &--transparent {
    border: none;
  }

  &--border-grey {
    border-color: rgb(var(--color-grey-light));

    #{$block}__options {
      border-color: rgb(var(--color-grey-light));
    }
  }

  &__header {
    @extend %flex-space-between;

    gap: 0.5rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__title {
    @extend %ellipsis;
  }

  &__icon {
    transition: var(--transition-base);

    &.active {
      transform: rotate(180deg);
    }

    & svg use {
      stroke: rgb(var(--color-black));
      stroke-width: 2px;
    }
  }

  &__options {
    display: none;
    position: absolute;
    width: max-content;
    min-width: 100%;
    max-height: 30vh;
    overflow-y: auto;
    top: calc(100%);
    left: 0;
    background-color: rgb(var(--color-white));
    border: 0.125rem solid rgb(var(--color-primary));
    border-radius: var(--radius-medium);
    z-index: var(--z-popup);

    #{$block}.active & {
      display: block;
      // display: flex;
      // flex-direction: column;
      // gap: 0.25rem;
    }

    // #{$block}--transparent & {
    //   border: none;
    // }

    &-item {
      padding: 0.4rem 0.5rem;
      cursor: pointer;
      transition: var(--transition-base);

      &:hover {
        background-color: rgba(var(--color-primary), 0.1);
      }

      &.active {
        background-color: rgba(var(--color-primary), 0.1);
      }

      &-descr {
        margin-left: 1.25rem;
        color: rgb(var(--color-grey));

        &--red {
          color: rgb(var(--color-red));
        }
      }
    }
  }
}
