@use "@/styles/shared" as *;

.catalog {
  $block: &;

  &__item-title {
    @extend %flex-start;

    gap: 0.75rem;
    font-weight: 400;
    transition: var(--transition-base);

    & svg {
      & use {
        stroke: rgb(var(--color-grey));
        stroke-width: 2px;
      }
    }

    &-text {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(var(--color-primary));
        opacity: 0;
        transition: var(--transition-base);
      }
    }
  }

  &__mobile {
    &-title {
      font-weight: 600;
      font-size: 1.375rem;
    }

    & .collapse {
      padding: 0.75rem 1.25rem;
      transition: var(--transition-base);
      
      &__head {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 0.8px;
          left: 0;
          right: 0;
          bottom: -0.75rem;
          background-color: rgb(var(--color-black-light));
        }

        &-title {
          white-space: wrap;
          overflow: unset;
          text-overflow: unset;
        }

        &-icon {
          & use {
            stroke: rgb(var(--color-grey));
            stroke-width: 2px;
          }
        }
      }

      &__content {
        transform: none;
        animation: none;
      }

      &--open, &:hover {
        & .collapse, & {
          background-color: rgb(var(--color-primary-soft));
        }

        & .collapse__head {
          color: rgb(var(--color-primary));
          
          #{$block}__item-title {
            & svg {
              & use {
                stroke: rgb(var(--color-primary));
              }
            }

            &-text {
              &:after {
                opacity: 1;
              }
            }
          }

          &-icon {
            & use {
              stroke: rgb(var(--color-primary));
            }
          }
        }
      }

      &--open {
        & > .collapse__head {
          & .collapse__head-icon {
            transform: rotate(180deg); 
          }
        }
      }
    }

    #{$block}__list {
      margin: 1rem -1.25rem 0;

      &-second {
        & .collapse {
          margin: 0 -1.25rem;
          padding-left: 1.75rem;
        }

        & .collapse, & .collapse:hover, & .collapse--open {
          & .collapse__head {
            color: rgb(var(--color-black));
            font-weight: 400;
            font-size: 1rem;

            &:after {
              right: 0.75rem;
            }

            &-icon {
              transform: rotate(180deg);
            }
          }

          & .collapse__content {
            font-size: 1rem;
          }
        }

        & .collapse:hover, & .collapse--open {
          & .collapse__head {
            &-icon {
              & use {
                stroke: rgb(var(--color-black));
              }
            }
          }
        }
      }

      &-third > * {
        margin-left: 1.75rem;
        padding: 0.75rem 0;
        border-bottom: 1px solid rgb(var(--color-black-light));
      }

      @include media($md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem -1.9375rem 0;
      }
    }

    #{$block}__masonry {
      &-column {
        gap: 0;
      }
    }

    @include media($lg) {
      display: none;
    }
  }

  &__desktop {
    display: none;
    gap: 1.5rem;

    .tabs {
      &__list {
        display: block;
      }

      &__tab {
        justify-content: flex-start;
        border: none;

        &:first-child,  &:last-child, &:not(:first-child):not(:last-child), &:hover, &--active {
          border: none;
          background-color: unset;
        }
      }
    }

    #{$block}__menu {
      width: 14.5rem;
      flex-shrink: 0;

      &-item {
        width: inherit;
        padding: 0.75rem 0 0.75rem 0.75rem;
        border-radius: 0.125rem;
        transition: var(--transition-base);
        cursor: pointer;
        
        #{$block}__item {
          &-title {
            &-text {
              transition: var(--transition-base);
              border-bottom: 1px solid transparent;

              &:after {
                display: none;
              }
            }
          }
        }

        &:hover, &.tabs__tab--active {
          color: rgb(var(--color-primary));
          background-color: rgb(var(--color-primary-soft));

          &:first-child,  &:last-child, &:not(:first-child):not(:last-child) {
            color: rgb(var(--color-primary));
            background-color: rgb(var(--color-primary-soft));
          }

          #{$block}__item {
            &-title {
              &-text {
                border-bottom: 1px solid rgb(var(--color-primary));

                &:after {
                  display: none;
                }
              }

              & svg {
                & use {
                  stroke: rgb(var(--color-primary));
                }
              }
            }
          }
        }
      }

      @include media($full) {
        width: 16rem;
      }
    }

    &-title {
      font-family: BebasNeue;
      font-size: 2.5rem;

      @include media($full) {
        font-size: 3rem;
      }
    }

    #{$block}__masonry {
      gap: 1.5rem; 
      margin-top: 1rem;

      &-item {
        &-title {
          font-weight: 600;
        }
      }

      &-list {
        &-item {
          margin-top: 0.25rem;
          font-size: 0.875rem;
        }
      }

      & .masonry__column {
        gap: 1.5rem;

        @include media($full) {
          margin-bottom: 2rem;
        }
      }
      
      @include media($full) {
        margin-top: 1.5rem;
      }
    }
    
    @include media($lg) {
      display: flex;
    }

    @include media($full) {
      gap: 2rem;
    }
  }
}