@use "@/styles/shared" as *;

.counter {
  padding: 0rem 0.2rem;
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 600;
  color: rgb(var(--color-white));
  border-radius: var(--radius-round);

  &--green {
    background-color: rgb(var(--color-green));
  }
  &--primary {
    background-color: rgb(var(--color-primary));
  }
  &--red {
    background-color: rgb(var(--color-red));
  }
  &--grey {
    background-color: rgb(var(--color-grey));
  }
}