.share {
  $block: &;

  display: flex;
  align-items: center;
  color: rgb(var(--color-grey));
  border-radius: var(--radius-small);

  &__open, &__close, &__item-icon {
    cursor: pointer;
  }

  &__open {
    color: rgb(var(--color-primary));
  }

  &__block, &__block-head, &__list, &__close {
    @extend %flex-center;
    gap: 0.75rem;
  }

  &__block {
    width: 100%;
    flex-direction: column;
    align-items: unset;
    height: 0;
    background-color: rgb(var(--color-white));
    overflow: hidden;
    
    @include media($md) {
      flex-direction: row;
      background-color: rgb(var(--color-primary-soft));

      &-head {
        flex-direction: row;
      }
    }

    &-head {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__list {
    gap: 1rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__item-icon {
    width: 2rem;
    height: 2rem;

    @include media($md) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__close {
    width: 3rem;
    height: 3rem;
    background-color: rgb(var(--color-primary-tag-checked));
    border-radius: var(--radius-round);

    @include media($md) {
      width: auto;
      height: auto;
      background-color: transparent;
      border-radius: unset;
    }

    & svg {
      fill: rgb(var(--color-grey));
    }
  }

  &--open {
    & #{$block}__block {
      height: auto;

      @include media($lg) {
        animation: slide-in 0.4s forwards;
      }
    }

    #{$block}__open {
      @include media($lg) {
        display: none;
      }
    }

    & .popup__content {
      max-height: unset;
    }
  }

  &--close {

    & #{$block}__block {

      @include media($md) {
        animation: slide-out 0.4s forwards;
      }

      &-head {
        width: 0;
      }
    }

    & #{$block}__list {
      width: 0;
    }

    & .popup__overlay {
      animation: slide-out 0.4s forwards;
    }
  }

  & .popup__content {
    border-radius: var(--radius-medium);
  }
}

@keyframes slide-in {
  0% {
    width: 0;
    padding: 0;
  }

  100% {
    width: 100%;
    padding: 0.75rem;
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
    padding: 0.75rem;
  }

  100% {
    width: 0;
    padding: 0;
  }
}
