.noUi-horizontal {
  height: 0.3125rem;

  & .noUi-handle {
    top: 0.155rem;
    transform: translateY(-50%);
    width: 2.74rem;
    height: 2.74rem;
    border-radius: var(--radius-round);
    background-color: rgb(var(--color-primary));
    border: none;
    box-shadow: none;
    cursor: pointer;

    &::after, &::before {
      display: none;
    }
  }
}

.noUi-target {
  background-color: rgb(var(--color-primary-pale));
  border-radius: var(--radius-big);
  border: none;
  padding: 0 17px 0 27px;
}

.noUi-connect {
  background-color: rgb(var(--color-primary-dark));
}

.range {
  $block: &;

  width: 100%;
  padding-top: 1.37rem;
  font-size: 1rem;

  &__inputs {
    @extend %flex-space-between;

    gap: 0.75rem;
    margin-top: calc(1.25rem + 1.37rem);
  }

  &__min, &__max {
    @extend %flex-center;

    gap: 0.25rem;
  }

  &__input-wrapper {
    max-width: 8rem;
  }

  &__input {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem;
    color: rgb(var(--color-grey-light));
    text-align: center;

    &::placeholder {
      font-size: 1rem;
      color: rgb(var(--color-grey-light));
    }
  }
}