@use "@/styles/shared" as *;

.jp-details {
  $block: &;

  &__wrapper {
    @extend %flex-column;

    gap: 1.5rem;

    @include media ($lg) {
      gap: 2rem;
    }
  }

  &__header {
    @extend %flex-column;

    gap: 1.25rem;
  }

  &__header-title {
    @extend %flex-column;

    gap: 1rem;

    @include media($lg) {
      flex-flow: row;
      justify-content: space-between
    }
  }

  &__header-title-txt {
    @extend %flex-column;

    gap: 0.25rem;
  }

  &__header-title-txt-about {
    font-size: 1.125rem;
    color: rgb(var(--color-grey));
    font-weight: 400;
  }

  &__header-title-txt-phrase {
    font-size: 1.5rem;
    font-weight: 700;

    @include media($lg) {
      font-size: 2rem;
    }
  }

  &__header-title-subscribe {
    @extend %flex-end-center;

    flex-shrink: 0;
    gap: 1.125rem;
    flex-flow: row-reverse;

    @include media($lg) {
      flex-flow: row;
      align-self: flex-start;
      margin-top: 0.5rem;
    }
  }

  &__header-conditions {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "progress  progress"
      "discount  activity"
    ;
    gap: 1.25rem 1.5rem;

    @include media($md) {
      grid-template-columns: auto minmax(auto, 30rem) auto;
      grid-template-areas:
        "discount  progress activity"
      ;
      gap: 2rem;
      justify-content: space-between;
    }

    &--done, &--cancel {
      #{$block}__header-conditions-activity-status {
        display: block;
      }

      #{$block}__header-conditions-activity-date, #{$block}__header-conditions-activity-title--time {
        display: none;
      }
    }

    &--done {
      #{$block}__header-conditions-activity-status--cancel {
        display: none;
      }
    }

    &--cancel {
      #{$block}__header-conditions-activity-status--done {
        display: none;
      }
    }

    &--progress {
      #{$block}__header-conditions-activity-title--jp {
        display: none;
      }
    }
  }

  &__header-conditions-discount {
    grid-area: discount;
  
    @extend %flex-column;

    gap: 0.25rem;

    @include media($lg) {
      flex-direction: row;
      align-items: center;
      gap: 0.75rem;
    }
  }

  &__header-conditions-discount-sum {
    font-size: 0.875rem;
    line-height: 1.25rem;

    &-number {
      @include media($lg) {
        display: block;
      }
    }
  }

  &__header-conditions-progress {
    grid-area: progress;

    &-range {
      margin-top: 0.5rem;
    }
  }

  &__header-conditions-progress-sum {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-align: center;

    @include media($md) {
      font-size: 1.125rem;
    }

    &-title {
      margin-right: 0.5rem;
      font-weight: 400;
      letter-spacing: 0;
    }
  }

  &__header-conditions-activity {
    grid-area: activity;

    font-size: 1rem;
    line-height: 1.5rem;

    &-status {
      display: none;

      &--done {
        color: rgb(var(--color-green));
      }

      &--cancel {
        color: rgb(var(--color-red));
      }
    }
  }

  &__header-conditions-activity-date {
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  &__source {
    @extend %flex-column;
    gap: 1.5rem;

    @include media($lg) {
      flex-flow: row;
      justify-content: space-between;
    }
  }

  &__source-shop {
    @extend %flex-column;
    min-width: 48%;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__source-author {
    @extend %flex-column;
    min-width: 48%;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__source-author-name-txt {
    font-weight: 600;
  }

  &__source-author-sp-date {
    color: rgb(var(--color-grey));
    @extend %flex-end;
    gap: 0.15rem;
    font-size: 1rem;

    @include media($md) {
      flex-flow: column;
      text-align: end;
    }
  }

  &__source-shop-title {
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__source-shop-inner {
    @extend %flex-column;

    gap: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 34rem;
    padding: 0.75rem 1rem;
    background-color: rgb(var(--color-primary-soft));
    border-radius: var(--radius-small);

    @include media($md) {
      gap: 1rem;
      flex-flow: row;
      align-items: center;
    }
  }

  &__source-shop-img {
    img {
      max-width: unset;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }

  &__source-shop-inner-content {
    @extend %flex-align-center;

    gap: 0.5rem;
    padding: 0;
    max-width: 19rem;
  }

  &__source-author-title {
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__source-author-inner {
    @extend %flex-column;

    gap: 0.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 34rem;
    padding: 0.75rem 1rem;
    background-color: rgb(var(--color-primary-soft));
    border-radius: var(--radius-small);

    @include media($md) {
      gap: 1rem;
      flex-flow: row;
      align-items: center;
      justify-content: space-between
    }
  }

  &__source-author-inner-content {
    @extend %flex-align-center;

    gap: 0.5rem;
    padding: 0;
    max-width: 19rem;
  }

  &__source-author-img {
    img {
      max-width: unset;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }

  &__description {
    @extend %flex-column;

    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem
    }
  }

  &__description-title {
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__description-text {
    font-size: 1rem;
  }

  &__description-inner {
    @extend %flex-column;

    align-items: flex-start;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__description-btn {
    cursor: pointer;
  }

  &__controls {
    @extend %flex-column;

    align-items: flex-start;
    gap: 1rem;

    @include media($md) {
      flex-direction: row;
      align-items: center;
    }

    @include media($lg) {
      margin-top: 0.5rem;
    }

    & a {
      color: rgb(var(--color-white));
    }

    &-btn-create-jp {

      &-mobile {
        @include media($md) {
          display: none;
        }
      }

      &-desktop {
        display: none;

        @include media($md) {
          display: block;
        }
      }
    }
  }
}
