@use "@/styles/shared" as *;

.joint-purchases {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include media($md) {
    gap: 1.5rem;
  }

  @include media($lg) {
    gap: 1.25rem;
  }

  @include media($full) {
    gap: 2.5rem;
  }

  &-search {
    &-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &-actions {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1.25rem;

    @include media($lg) {
      grid-template-columns: 1fr 1fr;
    }

    @include media($full) {
      grid-template-columns: 34rem auto;
    }
  }

  &-btn {
    & .btn {
      padding: 0.75rem;
    }

    @include media($md) {
      & svg {
        display: none;
      }
      
      & .btn {
        padding: 0.75rem 1.5rem;
      }
    }

    &-text {
      display: none;
      @include media($md) {
        display: block;
      }
    }
  }
}
