@use "@/styles/shared" as *;

.user-card {
  $block: &;
  
  position: relative;
  background-color: rgb(var(--color-primary-soft));
  width: 100%;
  border-radius: var(--radius-small);
  overflow: hidden;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    height: 100%;

    @include media($lg) {
      padding: 1rem 1.25rem;
    }
  }

  &__image-container{
    align-self: center;
    width: 5rem;
    height: 5rem;

    @include media($md) {
      width: 7.5rem;
      height: 7.5rem;
    }

    @include media($lg) {
      width: 8.625rem;
      height: 8.625rem;
    }
    img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    border-radius: var(--radius-round);
    object-fit: cover;
    }
  }

  &__name {
    text-align: center;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    // line-height: 1.5rem;
    color: rgb(var(--color-black));
    letter-spacing: 0.02rem;
    // margin: 0.75rem 0;
    margin: 0.5rem 0;
    flex: 1;

    @include media($md) {
      flex: unset;
      font-size: 1rem;
    }

    @include media($lg) {
      margin: 0.5rem 0 0.75rem;
      font-size: 1.125rem;
    }
  }

  &__desc {
    color: rgb(var(--color-grey));
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    flex: 1;
    display: none;

    @include media($md) {
      display: block;
    }

    @include media($lg) {
      margin-bottom: 0.75rem;
    }
  }

  &__scores {
    display: flex;
    gap: 0.3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;

    @include media($md) {
      gap: 1rem;
    }

    &-inst, &-users {
      display: flex;
      gap: 0.25rem;
      align-items: center;

      & svg {
        width: 1rem;
        height: 1rem;
        color: rgb(var(--color-grey));
      }
    }
  }

  &__sub {
    position: absolute;
    top: 0.75rem;
    left: 1rem;

    &.badge {
      height: 2rem;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
    }

    @include media($lg){
      top: 1rem;
      left: 1.25rem;

      &.badge {
        font-size: 1rem;
      }
    }
  }
}
