.text-collapse {
  &__btn-wrapper {
    &--right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    transition: transform 0.3s ease;

    &--expand {
      transform: rotate(180deg);
    }
  }
}
