@use "@/styles/shared" as *;

body {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  font-family: var(--font-commissioner), sans-serif;
  line-height: 1.333;
  color: rgb(var(--color-black));

  & > * {
    font-size: 1.125rem;
  }
}

.main {
  height: calc(100svh - 64px - 64px);
  overflow-y: auto;

  @include media($lg) {
    height: calc(100svh - 104px);
    margin-top: 0.5rem;
  }

  &__content {
    padding: 1.25rem 0 1rem;

     @include media($md) {
      padding: 1.5rem 0 1rem;
    }

    @include media($lg) {
      padding: 2.5rem 0;
    }

    @include media($full) {
      padding: 5rem 0;
    }
  }
}

svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.noselect,
.noselect * {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--radius-medium);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-primary-light));
  border-radius: var(--radius-medium);
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
