@use "@/styles/shared" as *;

.toolbar {
  $block: &;

  @extend %flex-space-between;

  gap: 1.5rem 0.75rem;
  flex-wrap: wrap;
  background-color: rgb(var(--color-white));
  z-index: var(--z-fixed);

  &--sticky {
    flex-direction: row;
    position: sticky;
    top: 4rem;
    padding: 0.5rem 1.25rem;
    margin: 0 -1.25rem;

    @include media($md) {
      padding: 0.5rem 2.5rem;
      margin: 0 -2.5rem;
    }

    @include media($lg) {
      top: 6.5rem;
      padding: 0.5rem 4rem;
      margin: 0 -4rem;
    }

    &#{$block}--with-tabs {
      display: block;

      & #{$block}__left {
        margin-bottom: 1.5rem;

        @include media($lg) {
          margin-bottom: 0;
        }
      }

      @include media($lg) {
        display: flex;
      }
    }

    &#{$block}--at-top {
      display: flex;

      // &::after, &::before {
      //   content: "";
      //   position: absolute;
      //   height: 100%;
      //   width: 100%;
      //   background-color: rgb(var(--color-white));
      // }

      // &::before {
      //   right: 100%;
      // }

      // &::after {
      //   left: 100%;
      // }

      #{$block}__right, #{$block}__actions {
        width: auto;
      }

      & #{$block}__left {
        margin-bottom: 0;
      }
    }
  }

  &__left {
    flex-grow: 1;
  }

  // &__right {

  // }

  &__right, &__actions {
    @extend %flex-align-center;

    gap: 0.75rem;

    width: 100%;

    @include media($lg) {
      width: auto;
    }
  }

  &__actions {
    &-btn {
      font-weight: 400;
      padding-left: .65rem;
      padding-right: .65rem;

      &--open.btn.btn.btn {
        border-color: transparent;
        background-color: rgb(var(--color-primary-pale));
      }

      &--selected.btn.btn.btn {
        background-color: rgb(var(--color-primary-tag-checked));
        border: 2px solid rgb(var(--color-primary-light));
      }

      &-title {
        display: none;

        @include media($md) {
          display: inline-flex;
          align-items: center;
        }
      }

      &.visible-mode-btn {
        margin-left: auto;
      }
    }
  }
}
