@use "@/styles/shared" as *;

.autocomplete {
  $block: &;

  position: relative;
  background-color: rgb(var(--color-white));

  &.active {
    #{$block}__input {
      border-bottom: 0;
      border-radius: var(--radius-medium) var(--radius-medium) 0 0;
      border-color: rgb(var(--color-primary));
    }

    #{$block}__body {
      display: block;
      border: 2px solid rgb(var(--color-primary));
      border-top: 0;
      border-radius: 0 0 var(--radius-medium) var(--radius-medium);
    }
  }

  &__load {
    display: none;
  }

  &.load {
    #{$block}__load {
      display: block;
      position: relative;
      animation: spinner 0.9s linear infinite;
    }
  }

  &__input {
    padding: 0.75rem 1rem;
  }

  &__body {
    display: none;
    position: absolute;
    min-width: 100%;
    padding: 0 1rem 0.5rem 1rem;
    top: 100%;
    left: 0;
    right: 0;    
    background-color: rgb(var(--color-white));

    &-title {
      margin-top: 0.25rem;
      padding-top: 0.5rem;
      font-size: 0.875rem;
      color: rgb(var(--color-grey));
      border-top: 1px solid rgb(var(--color-black-light));
    }
  }

  &__options {
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem -1rem 0 -1rem;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      background-color: rgb(var(--color-black-light));
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: rgb(var(--color-grey-scrollbar));
    }

    &-item {
      position: relative;
      padding: 0.4rem 0.5rem 0.4rem 1rem;
      transition: var(--transition-base);
      border-radius: var(--radius-medium);
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: 0rem;
        left: 1rem;
        right: 1rem;
        background-color: rgb(var(--color-grey-soft));
      }

      &:hover {
        background-color: rgba(var(--color-primary), 0.1);
      }

      &.active {
        background-color: rgba(var(--color-primary), 0.1);
      }
    }
  }

  &--img {
    #{$block}__options-item {
      display: grid;
      grid-template-columns: 2rem 2fr;
      grid-template-rows: auto auto;
      column-gap: 0.5rem;

      &-img {
        height: 3rem;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        border-radius: var(--radius-medium);
      }

      &-title, &-subtitle {
        @extend %ellipsis;

        grid-column: 2 / -1;
      }

      &-title {
        grid-row: 1 / 2;
      }

      &-subtitle {
        grid-row: 2 / 3;
        color: rgb(var(--color-grey));
        font-size: 0.875rem;
      }
    }
  }

  &__suffix {
    margin-right: -1.09rem;
    padding-right: 2px;

    @include media($md) {
      max-width: 11.25rem;
      width: 100%;
    }
  }

  & .select {
    display: none;
    padding: 0 1rem 0 0;
    font-size: 1rem;
    border-radius: 0;

    @include media($md) {
      display: inline-flex;
      justify-content: flex-end;
      padding-left: 0.25rem;
      border-left: 2px solid rgb(var(--color-black-light));
    }

    &__header {
      position: relative;
      justify-content: flex-end;
      z-index: inherit;
    }

    &__options {
      width: calc(100% + 4px);
      top: -0.66rem;
      left: unset;
      right: -2px;
      padding-top: 3.125rem;
      border-top: none;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
      border-width: 2px;
    }

    &.active {
      z-index: calc(var(--z-over) + 1);
    }
  }
}
