.collapse {
  $block: &;

  padding: 1rem 1.25rem;
  background-color: rgb(var(--color-white));
  border-radius: var(--radius-small);

  & > #{$block}__content {
    display: grid;
    grid-template-rows: 1fr;
    max-height: 1000px;
    min-height: 0;
    margin-top: 1.25rem;
    overflow: visible;
    transition: max-height 0.3s ease, margin-top 0.2s ease;
  }

  &--close {
    & > #{$block}__content {
      grid-template-rows: 0fr;
      max-height: 0;
      margin-top: 0;
      overflow: hidden;
    }

    #{$block}__head-icon {
      transform: rotate(180deg);
    }
  }

  &__head {
    @extend %flex-space-between;

    gap: 0.5rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      & #{$block}__head-icon {
        color: rgb(var(--color-black));
      }
    }

    &-title {
      @extend %ellipsis;
    }

    &-icon {
      flex-shrink: 0;
      color: rgb(var(--color-black-middle));
      transition: transform 0.2s ease;
    }
  }

  &__content {
    overflow: hidden;
    margin-top: 1.25rem;
    height: auto;
    transition: var(--transition-base);
  }
}
