@use "@/styles/shared" as *;

.main {
  &__content {

    padding: 2.5rem 0 6.5rem 0;
    
    @include media($md) {
      padding: 4rem 0 9rem 0;
    }
    
    @include media($lg) {
      padding: 4rem 0 5rem 0;
    }
    
    @include media($full) {
      padding: 5rem 0 5rem 0;
    }
  }
}

.section { 
  @include media($lg) {
    padding: 0rem 2.5rem;
  }
  
  &__inner {
    max-width: var(--max-width-container-1120);
  }

  &--comments {
    margin-top: 2.5rem;

    @include media($md) {
      margin-top: 4rem;
    }

    @include media($full) {
      margin-top: 5rem;
    }
  }
}