@use "@/styles/shared" as *;

.rc-tooltip {
  opacity: 1;

  &-inner {
  max-width: 30rem;

  padding: 0.625rem 1.25rem;
  background-color: rgb(var(--color-primary-soft));
  color: rgb(var(--color-black));
  border: 3px solid rgb(var(--color-white));
  }
}
