@use "@/styles/shared" as *;

.ui-kit {
  $block: &;

  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: rgb(var(--color-primary-pale));

  a#{$block}__home  {
    color: cadetblue;
    font-size: 2rem;
  }

  &__block {
    padding: 1rem;
    background-color: rgb(var(--color-white));
    border-radius: var(--radius-small);
    margin: 0.5rem 0;

    &--primary {
      background-color: rgb(var(--color-primary));
    }
  }

  &__checkbox {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }

  &__radio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
  }

  &__counter {
    display: flex;
    gap: 2rem;
  }

  &__buttons {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__badges {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__swiper, &__swiper-btns {
    position: relative;
    max-width: 600px;
    margin: 0 auto;

    & .swiper-slide {
      text-align: center;
      padding: 1rem 0;     
    }

    & .swiper-button-prev {
      & svg {
        transform: rotate(90deg);

        & use {
          stroke: rgb(var(--color-black));
          stroke-width: 2px;
        }
      }
    }
    & .swiper-button-next {
      & svg {
        transform: rotate(-90deg);

        & use {
          stroke: rgb(var(--color-black));
          stroke-width: 2px;
        }
      }
    }
  }

  &__slider {
    max-width: 600px;
    margin: 0 auto;
  }

  &__progress {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__ticker {
    max-width: 250px;
  }
}

.main {
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  margin: 1rem 0;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--color-primary-pale));
}