@use "@/styles/shared" as *;

.progress {
  $block: &;

  height: 0.75rem;
  border-radius: var(--radius-small);
  overflow: hidden;
  
  &--primary {
    background-color: rgb(var(--color-primary-tag-checked));

    #{$block}__line {
      background-color: rgb(var(--color-primary-dark));
    }
  }

  &--green {
    background-color: rgba(var(--color-green), 0.04);

    #{$block}__line {
      background-color: rgb(var(--color-green));
    }
  }


  &--grey {
    background-color: rgb(var(--color-grey-soft));

    #{$block}__line {
      background-color: rgb(var(--color-grey-dark));
    }
  }

  &__line {
    height: 100%;
    border-radius: var(--radius-medium);
  }
}