@use "@/styles/shared" as *;

.masonry {
  // display: flex;
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  &__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}