@use "@/styles/shared" as *;

.clear-filter-content-popup {
  $block: &;

  &__inner {
    padding: 0.25rem;
    text-align: center;
    
    @include media($md) {
      padding: 1.25rem 1.5rem;
    }
  }

  &__title {
    font-size: 1.375rem;
    font-weight: 600;
  }

  &__descr {
    margin-top: 1rem;
    color: rgb(var(--color-grey));
  }

  &__actions {
    @extend %flex-center;

    gap: 1.25rem;
    margin-top: 2rem;

    @include media($md) {
      gap: 2rem;
    }
  }
}