@use "@/styles/shared" as *;

.cropper-publication {
  $block: &;

  display: grid;
  grid-template-columns: 1fr;

  @include media($md) {
    grid-template-columns: max-content 1fr;
    gap: 0 1.5rem;
  }

  &__descr {
    font-size: 1rem;
    color: rgb(var(--color-grey));

    @include media($md) {
      grid-column: 1 / -1;
      margin-top: 1.25rem;
    }

    @include media($lg) {
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 1.5rem;
    font-weight: 600;

    @include media($md) {
      margin-top: 2.5rem;
    }


    &-img {
      @include media($md) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }

    &-area {
      @include media($md) {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
      }
    }
  }

  &__images {
    display: flex;
    gap: 0.75rem;
    margin-top: 1.125rem;
    overflow-x: auto;

    @include media($md) {
      flex-direction: column;
    }
  }

  &__img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: var(--radius-small);
    cursor: pointer;

    &.active {
      height: 5rem;
      width: 5rem;
      border: 0.375rem solid rgb(var(--color-primary));
    }
  }

  &__selected {
    &-wrapper {
      margin-top: 1.125rem;
      width: 100%;
      height: 20rem;
      overflow: hidden;

      cropper-canvas {
        display: block;
        width: 100%;
        height: 100%;
      }

      @include media($md) {
        grid-column: 2 / -1;
        grid-row: 3 / 4;
        height: 28rem;
      }
    }
  }

  &__btn {
    justify-self: center;
    margin-top: 1.5rem;

    @include media($md) {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
      margin-top: 2.5rem;
    }
  }
}
