@use "@/styles/shared" as *;

.gallery-card {
  display: inline-flex;
  align-items: center;
  width: max-content;

  &__item {
    position: relative;
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid rgb(var(--color-white));
    border-radius: var(--radius-round);
    overflow: hidden;

    &:first-child, &:nth-child(2), &:last-child {
      display: block;
    }

    &:not(:first-child) {
      margin-left: -0.75rem;
    }

    &:last-child {
      & img {
        filter: brightness(0.5);

        @include media($md) {
          filter: unset;
        }
      }
    }

    &-more {
      @extend %flex-center;

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      font-weight: 600;
      color: rgb(var(--color-white));

      @include media($md) {
        display: none;
      }
    }

    @include media($md) {
      display: block;
    }
  }
}
