@use "@/styles/shared" as *;

.brand-toolbar {
  $block: &;

  @extend %flex-align-center;

  gap: 1.25rem;
  
  &__btn-top {
    cursor: pointer;

    &.btn {
      color: rgb(var(--color-black));
    }
  }
  
  &__brand {
    @extend %flex-center;
  
    gap: 0.5rem;
    overflow: hidden;
  
    &-logo {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      border-radius: var(--radius-round);
      overflow: hidden;

      & > img {
        height: 100%;
      }
    }
  
    &-name {
      @extend %ellipsis;

      display: none;
      font-weight: 600;

      @include media($lg) {
        display: block;
      }
    }
  }

  &__subscribe {
    display: none;
    align-items: center;
    gap: 0.5rem;

    @include media($md) {
      display: inline-flex;
    }

    #{$block}__subscribe-btn {
      height: 100%;
      padding: 0;
    }

    &-dote {
      display: block;
      width: 0.25rem;
      height: 0.25rem;
      background-color: rgb(var(--color-grey));
      border-radius: var(--radius-round);
    }
  }
}
