@use "@/styles/shared" as *;

.nav-pages {
  display: none;
  background-color: rgb(var(--color-primary-pale));
  padding: 0rem 1rem;
  margin-top: 0.5rem;

  @include media($lg) {
    display: block;
  }

  &__list {
    @extend %flex-center;
    flex-wrap: wrap;
    gap: 0.5rem 2.5rem;
    font-weight: 600;

    & > li {
      padding: 0.5rem 1rem;
    }
  }
}