:root {
  /* colors */
  --color-white: 255, 255, 255; /* #ffffff */
  --color-dark: 0, 0, 0; /* #000000 */

  --color-primary: 205, 150, 99; /* #cd9663 */
  --color-primary-dark: 222, 186, 152; /* #deba98 */
  --color-primary-light: 229, 202, 177; /* #e5cab1 */
  --color-primary-pale: 247, 238, 230; /* #f7eee6 */
  --color-primary-tag-checked: 250, 243, 238; /* #faf3ee */
  --color-primary-soft: 252, 249, 246; /* #fcf9f6 */
  --color-black: 68, 68, 68; /* #444444 */
  --color-black-hover: 161, 161, 161; /* #a1a1a1 */
  --color-black-middle: 225, 225, 225; /* #e1e1e1 */
  --color-black-light: 234, 234, 234; /* #eaeaea */
  --color-grey: 170, 170, 170; /* #aaaaaa */
  --color-grey-scrollbar: 193, 193, 193; /* #c1c1c1 */
  --color-grey-light: 212, 212, 212; /* #d4d4d4 */
  --color-grey-white: 249, 249, 249; /* #f9f9f9 */
  --color-grey-soft: 244, 244, 244; /* #f4f4f4 */
  --color-grey-pale: 230, 230, 230; /* #e6e6e6 */
  --color-grey-dark: 206, 206, 206; /* #cecece */
  --color-grey-600: 199, 199, 199; /* #c7c7c7 */
  --color-green: 80, 165, 51; /* #50a533 */
  --color-green-light: 249, 253, 248; /* #f9fdf8 */
  --color-green-dark: 108, 200, 76; /* #6cc84c */
  --color-red: 221, 94, 94; /* #dd5e5e */

  /* width */
  --max-width-container: 106rem;
  --max-width-container-1120: 70rem;
  --max-width-container-user-1066: 66.625rem;
  --max-width-container-1408: 88rem;
  --max-width-container-1072: 67rem;

  /* transition */
  --transition-base: all 0.2s linear;
  --transition-base-without-prop: 0.2s linear;

  /* z-index */
  --z-base: 1;
  --z-fixed: 100;
  --z-popup: 1000;
  --z-over: 1010;
  --z-top: 9999;

  /* redius */
  --radius-small: 0.125rem;
  --radius-medium: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-big: 6.25rem;
  --radius-round: 68rem;
}

/* Шпаргалка по переводу px в rem */

/* 2px - 0.125rem */
/* 4px - 0.25rem */
/* 8px - 0.5rem */
/* 10px - 0.625rem */
/* 12px - 0.75rem */
/* 14px - 0.875rem */
/* 18px - 1.125rem */
/* 20px - 1.25rem */
/* 22px - 1.375rem */
/* 24px - 1.5rem */
/* 28px - 1.75rem */
/* 30px - 1.875rem */
/* 32px - 2rem */
/* 40px - 2.5rem */
/* 48px - 3rem */
/* 50px - 3.125rem */
/* 64px - 4rem */
/* 1072px - 67rem */
