.chip {
  @extend %inline-flex-center;

  gap: 0.25rem;
  height: 3rem;
  padding: 0 1.25rem;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-small);
  border: solid;
  border-color: transparent;
  border-width: 2px;
  transition: border-color var(--transition-base-without-prop);

  &:hover {
    border-color: rgb(var(--color-primary));
  }

  &__title, &__more {
    color: rgb(var(--color-grey));
  }

  &__cross {
    margin-left: 0.25rem;
    cursor: pointer;
    fill: rgb(var(--color-grey))
  }
}