.section {
  &--uikit {
    padding: 0;
    
    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
    
    h2 {
      margin: 1rem 0;
    }
    
    ::-webkit-scrollbar-track {
      background-color: rgb(var(--color-primary-pale));
    }
  }
}


