.input {
  $block: &;

  position: relative;

  &__label {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.25rem;
    background-color: rgb(var(--color-white));
    border: 2px solid rgb(var(--color-primary-light));
    border-radius: var(--radius-medium);
    outline: none;

    &:focus-within {
      border-color: rgb(var(--color-primary));
    }

    &.success {
      border-color: rgb(var(--color-primary));
    }

    &.error {
      border-color: rgb(var(--color-red));
    }
  }

  &--small {
    height: 2.5rem;
  }

  &--color-grey {
    border-color: rgb(var(--color-grey-light));
  }

  &--upload {
    position: relative;
    height: 6rem;
    width: 6rem;
    gap: 0;
    padding: 0;
    background-color: rgb(var(--color-primary-soft));
    border-color: rgb(var(--color-primary));

    &-small {
      height: 3rem;
      width: 3rem;
    }

    #{$block}__prefix {
      margin: 0 auto;

      & svg {
        color: rgb(var(--color-primary));
      }
    }

    & > input {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      cursor: pointer;

      &::-webkit-file-upload-button, &::file-selector-button {
        color: transparent;
        background-color: rgb(var(--color-grey-white));
        border-color: transparent;
        cursor: pointer;
      }
    }

    &#{$block}--disabled {
      background-color: rgb(var(--color-grey-soft));
      border-color: rgb(var(--color-grey-dark));

      #{$block}__prefix {
        & svg {
          color: rgb(var(--color-grey-600));
        }
      }

      & > input {
        cursor: default;
      }
    }

    #{$block}__suffix {
      display: none;
    }

    &.active {
      @extend %flex-center;

      position: fixed;
      height: 100%;
      width: 100%;
      inset: 0;
      background: rgba(0, 0, 0, .5);
      backdrop-filter: blur(6px);
      border-color: transparent;
      border-radius: 0;
      z-index: var(--z-over);
      cursor: pointer;

      #{$block}__prefix {
        display: none;
      }

      & > input {
        height: 75%;
        width: calc(100% - 5rem);
        max-width: 70rem;
        inset: initial;
        color: rgb(var(--color-grey-white));
        background-color: rgb(var(--color-grey-white));
        border-radius: var(--radius-medium);
        opacity: 1;
      }

      #{$block}__suffix {
        display: block;
        max-width: 46rem;
        max-height: calc(75svh / 2);
        z-index: calc(var(--z-over) + 1);
        pointer-events: none;
      }
    }
  }

  &--disabled {
    background-color: rgb(var(--color-grey-soft));

    #{$block}__input {
      background-color: rgb(var(--color-grey-soft));
    }
  }

  &__prefix {

  }

  &__suffix {
    
  }

  &__input {
    width: 100%;
    height: 1.5rem;
    border: none;
    outline: none;
    font-size: 1.125rem;
    padding: 0;

    &::placeholder {
      color: rgb(var(--color-grey-light));
      font-weight: 400;
      font-size: 1.125rem;
      letter-spacing: -0.2px;
    }

    &[type="search"]::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("/icons/cross.svg");
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &[type="search"]::-webkit-search-decoration {
      display: none;
    }
  }

  &__error {
    display: none;
    position: absolute;
    color: rgb(var(--color-red));

    &.active {
      display: block;
    }
  }
}
