@use "@/styles/shared" as *;

.data-view {
  $block: &;

  margin-top: 1.25rem;

  @include media($md) {
    margin-top: 1.5rem;
  }

  @include media($lg) {
    margin-top: 2rem;
  }

  @include media($full) {
    margin-top: 2.5rem;
  }

  &--none-margin {
     margin-top: 0;

    @include media($md) {
      margin-top: 0;
    }

    @include media($lg) {
      margin-top: 0;
    }

    @include media($full) {
      margin-top: 0;
    }
  }

  &__content {
    position: relative;
    margin-top: 1.25rem;

    @include media($md) {
      margin-top: 1.5rem;
    }
  
    @include media($lg) {
      margin-top: 2.5rem;
    }
  }

  &__tab-title {
    @include media($md) {
      display: none;
    }
  }
}

.cards-with-menu {
  $block: &;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;

  @include media($lg) {
    grid-template-columns: 15rem 1fr;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    margin: 0 -1.25rem;

    #{$block}--horizontally & {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }

    @include media($md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
      margin: 0;
    }

    @include media($lg) {
      gap: 1rem;
    }

    @include media($full) {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }

  &__card-btn {
    all: unset;
    display: flex;
    cursor: pointer;

    > * {
      width: 100%;
    }
  }

  &__menu {
    display: none;

    @include media($lg) {
      display: block;
    }
  }
}
