@use "@/styles/shared" as *;

.contact-info {
  $block: &;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @include media($md) {
    flex-direction: row-reverse;
  }

  @include media($lg) {
    flex-direction: column;
  }

  @include media($full) {
    max-width: 70rem;
    margin: 2.5rem auto 0;
  }

  &__connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    min-width: 17.25rem;
    padding: 2.5rem;
    background-color: rgb(var(--color-primary-soft));
    border-radius: var(--radius-small);
    flex-shrink: 0;

    @include media($md) {
      height: max-content;
      gap: 2rem;
      padding: 2rem;
    }

    @include media($lg) {
      flex-direction: row;
      justify-content: center;
      gap: 2.5rem;
      padding: 2.5rem;
    }

    #{$block} &-item {
      display: flex;
      gap: 0.625rem;
      font-weight: 600;
    }

    #{$block}__icon use {
      stroke: rgb(var(--color-black));
      stroke-width: 2px;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;

    &-title {
      font-size: 1.125rem;
      font-weight: 600;
    }
  }
}
