@use "@/styles/shared" as *;

.user-info {
  $block: &;

  display: flex;
  flex-flow: column;
  gap: 1.25rem;
  
  @include media($md) {
    gap: 1.5rem;
    margin: unset;
  }
  @include media($lg) {
    flex-flow: row; 
    gap: 2.5rem;
  }
  @include media($full) {
    margin: 0 auto;
  }

  &__image-container {
    position: relative;
    width: 11.25rem;
    height: 11.25rem;
    align-self: center;

    @include media ($lg) {
      align-self: unset;
    }
  }

  &__image-avatar {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-round);
    object-fit: cover;
  }

  &__image-text-overlay{
    position: absolute;
    bottom: -4px;
    transform: translate(2%, 0);
    width: 96%;
  }

  &__desc-wrapper {
    display: flex;
    flex-flow: column;
    gap: 1.25rem;
    @include media($lg){
      max-width: 52.875rem;
    }
  }

  &__desc-title-inner {
    @extend %flex-center;
    gap: 0.75rem;
    
    @include media($lg) {
      justify-content: unset;
    }

    h3 {
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 2rem;
    }

    svg {
      width: 3.5rem;
      height: 1.25rem;
    }
  }

  &__desc-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.54rem;
  }

  &__content {
    display: grid;
    gap: 1.25rem 1.5rem; 
    
    @include media($md) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    @include media($lg) {
      column-gap: 2.5rem;
    }
  }

  &__desc-sub-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @include media($md) {
      grid-column: 2 / -1;
      justify-content: flex-start;
    }

    @include media($lg) {
      display: flex;
      gap: 1.25rem;
      grid-column:1/3;
    }

    span {
      color: rgb(var(--color-primary), 1);
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  &__sub-inner {
    display: flex;
    gap: 1.25rem;
  }

  &__desc-sub-share {
    margin: 0 auto;

    @include media($md) {
      grid-column: 1;
      grid-row: 3;
      margin: unset;
    }

    & .share {
      overflow: unset;
    }

    @include media($lg) {
      margin-top: -2.5rem;
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      max-width: 15rem;
    }
    button {
      letter-spacing: 1px;
    }

  }

  &__desc-inner {
    position: relative;

    @include media($md){
      grid-column: 1/5;
      grid-row: 1/3;
    }
    @include media($lg){
      grid-column: 1/4;
    }
  }

  &__btn {
    position: absolute;
    bottom: -2px;
    right: 0;
    z-index: 10;

    & .btn-show-text{
      padding: 0 0.5rem;
      background-color: rgb(var(--color-white));
      color: rgb(var(--color-grey));
      font-size: 1.15rem;
      line-height: 1.5rem;
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
