.loading {
  @extend %flex-center;

  position: absolute;
  inset: 0;
  width: 100%;
  flex: 1;
  background-color: rgba(var(--color-white),  0.7);
  z-index: var(--z-top);

  & svg {
    height: 2rem;
    width: 2rem;
  }

  &--fixed {
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 4rem;

    @include media($lg) {
      top: 9.5rem;
      bottom: 0;
    }
  }
}