@use "@/styles/shared" as *;

.map {
  $block: &;

  height: 100%;

  &--courier {
    #{$block}__address-descr-pickup {
      display: none;
    }
    #{$block}__address-descr-courier {
      display: block;
    }
    #{$block}__autocomplete--pickup {
      display: none;
    }
    #{$block}__autocomplete--courier {
      display: block;
    }
    #{$block}__btn--pickup {
      display: none;
    }
    #{$block}__btn--courier {
      display: block;
    }
  }

  &--pickup {
    #{$block}__address-descr-pickup {
      display: block;
    }
    #{$block}__address-descr-courier {
      display: none;
    }
    #{$block}__autocomplete--pickup {
      display: block;
    }
    #{$block}__autocomplete--courier {
      display: none;
    }
    #{$block}__btn--pickup {
      display: block;
    }
    #{$block}__btn--courier {
      display: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    height: 100%;
    padding: 1.25rem 1.25rem 1rem;

    @include media($md) {
      padding: 1.25rem 2rem 1.25rem;
    }

    @include media($lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content 1fr;
      gap: 1.5rem 2rem;
      padding: 1.5rem 2rem 1.5rem;
    }

    @include media($full) {
      grid-template-columns: 37% 1fr;
    }
  }

  &__header {
    @extend %flex-space-between;

    gap: 1rem;

    @include media($lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      height: max-content;
    }

    &-back {
      cursor: pointer;

      &-icon {
        color: rgb(var(--color-grey));
        width: 2rem;
        height: 2rem;
      }

      @include media($lg) {
        display: none;
      }
    }

    &-title {
      display: none;
      font-size: 1.375rem;
      font-weight: 600;

      @include media($lg) {
        display: block;
      }
    }

    &-options {
      @extend %flex-center;

      gap: 0.5rem;

      @include media($md) {
        gap: 2rem;
      }
    }
  }

  &__cross {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    z-index: var(--z-fixed);
    cursor: pointer;

    &.btn {
      background-color: transparent;
      padding: 0;
      height: max-content;

      @include media($lg) {
        height: 3rem;
        background-color: rgb(var(--color-primary-soft));
      }
    }

    @include media($md) {
      top: 1.25rem;
      right: 2rem;
    }

    @include media($lg) {
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 1.5rem;
      right: 2rem;
      border-radius: var(--radius-round);
    }

    &-icon {
      color: rgb(var(--color-grey));
      width: 2rem;
      height: 2rem;

      & use {
        stroke-width: 1px;
        fill: rgb(var(--color-grey));
      }
    }
  }

  &__yandex {
    position: relative;
    margin: 0.25rem -1.25rem 0;
    flex-grow: 1;
    overflow: hidden;

    &::after {
      @extend %flex-center;

      content: "Загружается карта...";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(var(--color-grey-soft), 0.7);
    }

    &--load {
      &::after {
        display: none;
      }
    }

    @include media($md) {
      margin: 0.5rem -2rem 0;
    }

    @include media($lg) {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      margin: -1.5rem -2rem -1.5rem 0;
    }
  }

  &__address {
    @include media($lg) {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
      display: flex;
      flex-direction: column;
    }

    &-header {
      font-size: 1.375rem;
      font-weight: 600;
    }

    &-descr {
      font-size: 1.125rem;
      margin-top: 0.75rem;
      color: rgb(var(--color-grey));
    }

    &-actions {
      @extend %flex-space-between;

      margin-top: 1.25rem;
      gap: 1rem;

      &-input {
        width: 100%;

        @include media($md) {
          height: 2.5rem;
  
          & .autocomplete__input {
            height: 2.5rem;
          }
        }
      }

      &-define {
        @extend %inline-flex-center;

        display: none;
        gap: 0.25rem;
        margin-bottom: auto;
        margin-top: 1.5rem;
        font-weight: 600;
        cursor: pointer;

        @include media($lg) {
          display: inline-flex;
        }

        &.btn {
          background-color: unset;
        }
      }

      @include media($md) {
        gap: 4rem;

        &-input {
          height: 2.5rem;
        }
      }

      @include media($lg) {
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
      }
    }
  }
}
