@use "@/styles/shared" as *;

.main {

  &__content {

    padding: 1.5rem 0 5.5rem;
    
    @include media($md) {
      padding: 2.5rem 0 6.5rem;
    }
    
    @include media($lg) {
      padding: 5rem 0;
    }
  }
}

.section {
  $block: &;

  &--inner-jp {
    #{$block}__inner {
      max-width: var(--max-width-container-1120);
    }
  }

  &--inner-jp-goods {
    & .hr {
      margin: 1.5rem 0;
  
      @include media($lg) {
        margin: 2.5rem 0;
      }
    }
  }
}
